div[role=dialog] img[alt="Upload"] {
  height: 20vh !important;
}


div[role=dialog] textarea {
  max-height: 30vh !important;
}

.outline-none textarea{
  max-height: 30vh !important;
}

/* Force full opacity; disable pulsing */
.animate-pulse {
  animation: none !important;
  opacity: 1 !important;
}
